@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.home-search{
    width: 100%;
    background-image: url(../../assets/images/background.png);
    height: 970px;
    background-position: 0px -100px ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0;
    padding: 20px 80px;

    .slogan-content{
        text-align: center;
        padding: 300px 0;

        h1{
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 0px;
            font-family     : 'Roboto', sans-serif;
        }
    }
}